.container {
    text-align: center;
}

.header {
    display: flex;
    padding: 10px;
}

.status {
    margin: auto;
}

.time-display {
    margin: auto 2em auto auto;
}

.time-display span {
    font-size: 1.5em;
    color: green;
}

.hand {
    stroke: green;
    fill: green;
}

.hand-arm {
    stroke-width: 3;
}

.segment {
    cursor: pointer;

}

.label.selected {
    fill: white;
}