.container {
    text-align: center;
}

.header {
    display: flex;
    padding: 10px;
}

.status {
    margin: auto;
    flex-grow: 1;
}

.time-display {
    margin: auto 0 auto auto;
}

.time-display span {
    font-size: 1.5em;
    color: green;
}

.time-display div {
    display: inline-block;
}

.time-display span.selected {
    color: blue;
}

.hand {
    stroke: green;
    fill: green;
}

.hand-arm {
    stroke-width: 3;
}

.segment {
    cursor: pointer;
}